* {
  margin:0;
  padding: 0;
}
header {
  display: inline-block;
  position: relative;
  background: rgb(0, 48, 112);
  width: 100%;
  padding: 10px 0;
}
.header_name {
  position: relative;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 24px;
  width: calc(100% - 70px);
  float: left;
}
.header_name p{
  text-align: center;
}
.button {
  position: relative;
  margin-right: 10px;
  font-weight: 700;
  color: rgb(0, 48, 112);
  text-decoration: none;
  padding: 3px;
  border-radius: 3px;
  background: white;
  transition: 0.2s;
  float: right;
} 
.button:hover { background: rgb(195, 218, 245); }
#menu {
  position: relative; 
  display: inline-block; 
  width: 15%;
  min-width: 100px;
  margin-top: -4px;
}
#navbar {
  list-style-type: none;
}
#navbar li {
  border-left: 10px solid rgb(109, 110, 113);
}
#navbar a {
  height: 50px;
  line-height: 50px;
  background-color: rgb(109, 110, 113);
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  border-left: 5px solid rgb(0, 48, 112);
  display: block;
}
#navbar a:hover{
  background-color: rgb(75, 75, 77);
}

