* {
  margin:0;
  padding: 0;
  background-color: rgba(215,238,246,1);
}
.button{
  width: 100px;
  height: 25px;
  opacity: 0.6;
  background: rgb(90, 89, 156);
  border-radius: 11px 11px 11px 11px;
  color: rgb(0, 0, 0);
  font-size: 13pt;
  padding: 1px;
  position: absolute;
  left: 1000px;
  margin: 10px auto 0;
  outline: 0;
  text-align: center
 }
 .button:hover{
   border: 1px solid white;
 }
 .button:active{
   background-color: rgb(22, 12, 201);
 }
#left_bar{
  background-color: rgba(185,213,237,1);
  width: 15%;
  height: 100%;
  min-width: 100px;
  position: absolute; 
  display: inline-block; 
  overflow: hidden;
  color: rgba(8,26,157,1);
}
#menu {
  margin-top: 110pt;
}
#navbar {
box-shadow: 0px 10px 5px #888, 0px -10px 5px #888;
}
#navbar a {
  height: 50px;
  line-height: 50px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
#navbar a:hover{
  background-color: rgba(215,238,246,1);
  cursor: pointer;
}
.unclicked{
  background-color:rgba(185,213,237,1);
}
.clicked{
  background-color: rgba(215,238,246,1);
}
.container{
  display: none;
  position: absolute;
  left: 15%;
  width: 85%;
  height: 100%;
  margin-top: -4px;
  float: right;
}
.container#main{
  display: block;
}
.active-button{
  background-color: rgb(75, 75, 77);
}

.table_info{
  width: 40%;
  padding-top: 66pt;
  padding-left: 20pt;
  background-color: white;
}
.table_info TR{
  height: 50px;
}
.table_marks{
  width: 40%;
  padding-top: 66pt;
  padding-left: 20pt;
  background-color: white;
}
.table_marks TR{
  height: 50px;
}

.content{
  position: relative;
  background-color: white;
  margin-top: 69pt;
  margin-left: 45pt;
  width: 995pt;
  height: 400pt;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
td,th{
  background-color: white;
  color: rgba(8,26,157,1);
}

