* {
  margin:0;
  padding: 0;
}
header {
  display: inline-block;
  position: relative;
  background: rgb(0, 48, 112);
  width: 100%;
  padding: 10px 0;
}
.header_name {
  position: relative;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 24px;
  width: calc(100% - 70px);
  float: left;
}
.header_name p{
  text-align: center;
}
.button {
  position: relative;
  margin-right: 10px;
  font-weight: 700;
  color: rgb(0, 48, 112);
  text-decoration: none;
  padding: 3px;
  border-radius: 3px;
  background: white;
  transition: 0.2s;
  float: right;
} 
.button:hover { background: rgb(195, 218, 245); }
#profile {
  position: relative;

}
#menu {
  position: absolute; 
  display: inline-block; 
  width: 15%;
  height: 100%;
  min-width: 100px;
  background-color: rgb(109, 110, 113);
  margin-top: -4px;
}
#navbar {
  list-style-type: none;
}
#navbar a {
  height: 50px;
  line-height: 50px;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
#navbar a:hover{
  background-color: rgb(75, 75, 77);
  cursor: pointer;
}
.container{
  display: none;
  position: absolute;
  left: 15%;
  width: 85%;
  height: 100%;
  margin-top: -4px;
  float: right;
}
.container#main{
  display: block;
}
.active-button{
  background-color: rgb(75, 75, 77);
}
.table_info{
  width: 40%;
}
.table_info TR{
  height: 50px;
}
.table_marks{
  width: 40%;
}
.table_marks TR{
  height: 50px;
}

