<!doctype html>

<html lang="ru">

<head>
  <meta charset="utf-8">

  <title>Students LK</title>

  <link rel="stylesheet" href="public/css/styles.css?v=1.0">

  <script src="public/js/jquery.js"></script>
</head>

<body>
  <header>
    <a href="/logout" class="button" />Выйти</a>
  </header>
  </div>
  <div id="left_bar">
    <div id="menu">
      <ul id="navbar">
        <li><a data-href="main">Главная</a></li>
        <li><a data-href="marks">Табель успеваемости</a></li>
        <li><a data-href="main">Статистика успеваемости</a></li>
        <li><a data-href="marks">Документы</a></li>
      </ul>
    </div>
  </div>
  <div class ="container" id="main">
    Rinat sosi huy
  </div>
  <div class ="container" id="marks">
    <table>
      <thead>
        <tr>
          <th>Семестр</th>
          <th>Предмет</th>
          <th>Оценка</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <script src="public/js/main.js"></script>
</body>

</html>